<li>
  <input
    type="checkbox"
    id="energy-type-{{ typeIndex() }}"
    class="hidden peer"
    [formControl]="control()"
  />
  <label
    for="energy-type-{{ typeIndex() }}"
    class="inline-flex w-full p-3 text-gray-900 bg-white border-2 border-gray-200 rounded-2xl cursor-pointer peer-checked:bg-{{
      type()!.toLocaleLowerCase()
    }}-100 peer-checked:border-{{ type()!.toLocaleLowerCase() }}-100 hover:bg-{{
      type()!.toLocaleLowerCase()
    }}-100 hover:border-{{ type()!.toLocaleLowerCase() }}-100"
  >
    <div class="flex items-center">
      <app-energy-type [type]="type()!.toLocaleLowerCase()"></app-energy-type>
      <div class="w-full font-semibold ms-3">{{ type() }}</div>
    </div>
  </label>
</li>
