<div [formGroup]="formGroup()">
  <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    {{ options().name }}
  </p>
  <ul
    class="grid w-full gap-x-4 gap-y-2 md:grid-cols-3"
    formArrayName="{{ options().control }}"
  >
    @for (value of values(); track $index; let i = $index) {
    <li>
      <input
        type="checkbox"
        id="{{ options().control }}-type-{{ i }}"
        class="hidden peer"
        [formControl]="getControl(i)"
      />
      <label
        for="{{ options().control }}-type-{{ i }}"
        class="inline-flex w-full p-3 text-gray-900 bg-white border border-gray-200 rounded-2xl cursor-pointer peer-checked:bg-{{
          value.color
        }}-100 peer-checked:border-{{ value.color }}-100 hover:bg-{{
          value.color
        }}-100 hover:border-{{ value.color }}-100"
      >
        <div class="flex items-center">
          @if (isCardType(value)) {
          <ng-icon
            class="text-{{ value.color }}-700"
            [name]="value.icon"
            size="20"
          ></ng-icon>
          <div class="font-semibold ms-3">{{ value.name }}</div>
          } @else {
          <app-energy-type [type]="value.color"></app-energy-type>
          <div class="w-full font-semibold ms-3">{{ value.name }}</div>
          }
        </div>
      </label>
    </li>
    }
  </ul>
</div>
