<div
  class="relative"
  [class.cursor-pointer]="allowNavigation()"
  (click)="goToCard()"
>
  <img
    class="w-full rounded-lg shadow-sm"
    [src]="card().images.small"
    [alt]="card().name"
  />
  <div class="opacity-0 hover:opacity-100">
    <div
      class="absolute w-full h-full top-0 z-10 rounded-lg bg-gradient-to-t from-{{
        getColor()
      }}-700 from-0% via-transparent via-30% to-transparent to-90% opacity-80"
    ></div>
    <div class="absolute w-full bottom-0 z-20">
      <div class="flex justify-between items-center m-4">
        <span class="flex-1 font-semibold text-md text-white truncate">{{
          card().name
        }}</span>
        <div>
          <button
            (click)="viewImage($event)"
            type="button"
            class="text-white bg-{{ getColor() }}-700 hover:text-{{
              getColor()
            }}-200 focus:outline-none font-medium rounded-xl text-sm p-2.5 text-center inline-flex items-center"
          >
            <ng-icon name="bootstrapZoomIn" size="16"></ng-icon>
            <span class="sr-only">Icon description</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
