<div
  class="flex items-center px-5 py-3 bg-{{
    detail().color
  }}-100 rounded-2xl shadow-sm"
>
  <div class="p-4 bg-{{ detail().color }}-200 rounded-xl">
    @if (detail().icon) {
    <ng-icon
      class="text-{{ detail().color }}-700"
      [name]="detail().icon"
      size="20"
    ></ng-icon>
    } @else {
    <app-energy-type [type]="detail().element!"></app-energy-type>
    }
  </div>
  <div class="ms-3">
    <p class="font-semibold text-sm capitalize text-gray-950">
      {{ detail().type }}
    </p>
    <p
      class="text-gray-900"
      [class]="param()"
      (click)="goToSearch(detail().param)"
    >
      {{ detail().value }}
    </p>
  </div>
</div>
