<h2 class="mt-4" id="combat-{{ detail()?.type }}-heading" #combatHeading>
  <button
    type="button"
    class="flex items-center justify-between w-full rounded-t-2xl rounded-b-2xl shadow-sm p-5 font-medium rtl:text-right text-gray-900 bg-sky-100 hover:bg-sky-200 gap-3"
    [attr.data-accordion-target]="'#combat-' + detail()?.type + '-body'"
    aria-expanded="true"
    [attr.aria-controls]="'#combat-' + detail()?.type + '-body'"
  >
    <span class="flex items-center capitalize">
      <ng-icon
        class="text-sky-700 me-3"
        [name]="detail()?.icon"
        size="20"
      ></ng-icon>
      {{ detail()?.text }}</span
    >
    <svg
      data-accordion-icon
      class="w-3 h-3 rotate-180 shrink-0"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5 5 1 1 5"
      />
    </svg>
  </button>
</h2>
<div
  id="combat-{{ detail()?.type }}-body"
  class="hidden"
  aria-labelledby="accordion-open-heading-1"
  #combatBody
>
  <div
    class="p-5 border boder-gray-200 border-t-0 rounded-b-2xl shadow-sm dark:border-gray-700 dark:bg-gray-900"
  >
    @for (item of detail()?.value; track $index; let isLast = $last) { @if
    (isAbility(item)) {
    <div>
      <span
        class="bg-sky-100 text-sky-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300"
        >{{ item.type }}</span
      >
      <span class="font-bold text-sky-700">{{ item.name }}</span>
      <p class="text-gray-800 mt-2">{{ item.text }}</p>
    </div>
    } @if (isAttack(item)) {
    <div>
      <div class="flex items-center">
        <div class="flex">
          @for (energyType of item.cost; track $index) {
          <app-energy-type
            class="me-1"
            [type]="energyType.toLocaleLowerCase()"
          ></app-energy-type>
          }
        </div>
        <span class="font-bold text-sky-700 ms-2">{{ item.name }}</span>
        <span class="font-bold text-gray-700 ms-2">{{ item.damage }}</span>
      </div>
      <p class="text-gray-800 mt-2">{{ item.text }}</p>
      @if (!isLast) {
      <hr
        class="w-3/5 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-8 dark:bg-gray-700"
      />
      }
    </div>
    } @if (isRule(item)) {
    <p class="text-gray-800">{{ item }}</p>
    } }
  </div>
</div>
