<h1 class="text-4xl text-gray-900 mb-2">
  {{ card()?.name }}
</h1>
<div class="flex text-gray-600">
  <span>{{ card()?.supertype }}</span>
  @for (subtype of card()?.subtypes; track $index; let isLast = $last) {
  <span class="mx-2">•</span>
  <span>{{ subtype }}</span>
  @if (!isLast) {
  <span class="mx-2">•</span>
  } } @if (card()?.evolvesFrom) {
  <span class="mx-2">•</span>
  <span>Evolves from {{ card()?.evolvesFrom }}</span>
  } @if (card()?.evolvesTo) {
  <span class="mx-2">•</span>
  <span>Evolves to {{ card()?.evolvesTo }}</span>
  }
</div>
