<div class="max-w-screen-xl container mx-auto my-4">
  <button
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    type="button"
    (click)="location.back()"
  >
    Go back
  </button>
  @if (cardService.card()) {
  <div class="flex justify-start">
    <div class="w-1/4">
      <img
        class="rounded-lg shadow-md"
        [src]="cardService.card()?.images?.large"
        alt="Pokemon image"
      />
    </div>
    <div class="flex-1 ms-10">
      <app-card-header [card]="cardService.card()!"></app-card-header>
      <app-card-detail
        class="grid grid-cols-3 gap-4 my-4"
        [card]="cardService.card()"
      ></app-card-detail>
      <app-combat-detail [card]="cardService.card()"></app-combat-detail>
    </div>
  </div>
  <div class="mt-4">
    <app-info-tabs [card]="cardService.card()!"></app-info-tabs>
  </div>
  } @else {
  <app-card-skeleton></app-card-skeleton>
  }
</div>
