<div class="max-w-screen-xl container mx-auto mt-4">
  <a [routerLink]="['']">Go back</a>
  @if (cardService.card()) {
  <div class="flex justify-start">
    <div class="w-1/4">
      <img
        class="rounded-lg shadow-md"
        [src]="cardService.card()?.images?.large"
        alt="Pokemon image"
      />
    </div>
    <div class="flex-1 ms-10">
      <app-card-header [card]="cardService.card()"></app-card-header>
      <app-card-detail
        class="grid grid-cols-3 gap-4 my-4"
        [card]="cardService.card()"
      ></app-card-detail>
      <app-card-combat-detail></app-card-combat-detail>
    </div>
  </div>
  } @else {
  <app-card-skeleton></app-card-skeleton>
  }
</div>
